{% extends "home/header.html" %}

{% block content %}

<div class="container">
{% for post in noticias %}

		<h2><a href="/blog/noticias/{{post.4}}">  {{ post.0 }}</a></h2>
		<h4>{{ post.3|date:"Y-m-d" }}</h4>
		<p>{{post.1}}</p>
		
	{% endfor %}
	
	<nav aria-label="...">
		  <ul class="pager">
			<li><a href="#">Anterior</a></li>
			<li><a href="#">Siguiente</a></li>
		  </ul>
   </nav>
	
	
		 
	<div align="right" >
		<a href="/blog/noticias/new/"><button type="submit" class="btn btn-danger" style="margin-top:20px;">Nueva Noticia</button></a>
	</div>
		  
	
	
	
</div>
{% endblock %}