{% extends "home/header.html" %}

{% block content %}

<br>
<br>
<div class="container">

    <form class="well form-horizontal" action=" " method="post"  id="contact_form">
<fieldset>

<!-- Form Name -->
<legend>Nueva Noticia</legend>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-2 control-label">Titulo</label>  
  <div class="col-md-6 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-tags"></i></span>
  <input  name="first_name" placeholder="Nombre" class="form-control"  type="text">
    </div>
  
</div>
</div>







  
<div class="form-group">
  <label class="col-md-2 control-label">Descripcion</label>
    <div class="col-md-6 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
        	<textarea class="form-control" name="comment" placeholder="Escriba su mensaje" rows="10"></textarea>
  </div>
  </div>
</div>

<
<!-- Button -->
<div class="form-group">
  <label class="col-md-2 control-label"></label>
  <div class="col-md-7" align="right">
    <button type="submit" class="btn btn-danger" >Publicar <span class="glyphicon glyphicon-send"></span></button>
  </div>
</div>

</fieldset>
</form>
</div>
    </div><!-- /.container -->

{% endblock %}