{% extends "home/header.html" %}
{% load staticfiles %}
{% block content %}

<div class="container">

<h3>{{ post.title }}</h3>
<h6> on {{ post.date }}</h6>

<div class = "container">
	{{ post.content|safe|linebreaks}}
	
	<h5> Autor: {{ userElements.3 }}</h5>
	<h5> Puntaje del autor: {{ userElements.2 }}</h5>
</div>
	<br><br>
	
	{% if resultado == "Mostrar" %}
	
	<div align="right">
			    <a href="/blog/noticias/aceptarNoticia/{{id}}" <button type="submit" class="btn btn-danger">Aceptar</button></a>
	</div>
	
	<div align="right">
			    <a href="/blog/noticias/rechazarNoticia/{{id}}" <button type="submit" class="btn btn-danger">Rechazar</button></a>
	</div>
	
	{% endif %}
	
	<h4>Deja un comentario</h4>
      <form method='POST' action='{% url 'blog:insertComment' id %}'  > {% csrf_token %} 
        <div class="form-group">
          <textarea class="form-control" rows="3" required name='comment'></textarea>
        </div>
		<div align="right">
			    <button type="submit" class="btn btn-danger">Enviar</button>
		</div>
      </form>
	  
	  
	
	<p><span class="badge">{{numComentarios}}</span> Comentarios:</p><br>
	<div class="row">
	{% for comment in comentarios %}
	
	      
        <div class="col-sm-2 text-center">
          <img src="{% static comment.3 %}" class="img-circle" height="65" width="65" alt="Avatar">
        </div>
        <div class="col-sm-10">
          <h4>{{comment.1 }}   <small>{{comment.2}}</small></h4>
          <p>{{comment.0}}</p>
          <br>
        </div>
        
        
      
    
	
	{% endfor %}
	</div>
		 
	
	
	
	
</div>
{% endblock %}