{% extends "home/header.html" %}
{% load staticfiles %}
{% block content %}

<div class="container">
<div class="row">
  <div class="col-md-8">
 

		<h3>{{ post.title }}</h3>
		<h6> on {{ post.date }}</h6>

		
			{{ post.content|safe|linebreaks}}
			{{ linkE|safe|linebreaks}}
		<h5> Autor: {{ userElements.3 }}</h5>
		<h5> Puntaje del autor: {{ userElements.2 }}</h5>
			<br><br>
		{% if resultado != "Mostrar" %}
		<div align="right">
			<a  href="/blog/proyectos/addYes/{{id}}"><span class="glyphicon glyphicon-thumbs-up"></span> Aprueba</a>
			&nbsp&nbsp
			<a href="/blog/proyectos/addUnknown/{{id}}"><span class="glyphicon glyphicon-transfer"></span> Neutral</a>
			&nbsp&nbsp
			<a href="/blog/proyectos/addNo/{{id}}"><span class="glyphicon glyphicon-thumbs-down"></span> Desaprueba</a>
		</div>
		{% endif %}
   
			
	</div>
	<div class="col-md-4" style="padding-top:75px;">
				<div class="progress">
		  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{estadisticas.0}}"
		  aria-valuemin="0" aria-valuemax="100" style="width:{{estadisticas.0}}%">
			{{estadisticas.0}}% Aprueba
		  </div>
		</div>

		<div class="progress">
		  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{estadisticas.2}}"
		  aria-valuemin="0" aria-valuemax="100" style="width:{{estadisticas.2}}%">
			{{estadisticas.2}}% Neutral
		  </div>
		</div>

		<div class="progress">
		  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{estadisticas.1}}"
		  aria-valuemin="0" aria-valuemax="100" style="width:{{estadisticas.1}}%">
			{{estadisticas.1}}% Desaprueba
		  </div>
		</div>
	 </div>
</div>
	
	<h4>Deja un comentario</h4>
      <form method='POST' action='{% url 'blog:insertCommentProject' id %}'  > {% csrf_token %} 
        <div class="form-group">
          <textarea class="form-control" name='comment' rows="3" required></textarea>
        </div>
		<div align="right">
			    <button type="submit" class="btn btn-danger">Enviar</button>
		</div>
      </form>
	
	<p><span class="badge">{{numComentarios}}</span> Comentarios:</p><br>
	<div class="row">
	{% for comment in comentarios %}
	
	      
        <div class="col-sm-2 text-center">
          <img src="{% static comment.3 %}" class="img-circle" height="65" width="65" alt="Avatar">
        </div>
        <div class="col-sm-10">
          <h4>{{comment.1 }}   <small>{{comment.2}}</small></h4>
          <p>{{comment.0}}</p>
          <br>
        </div>
        
        
      
    
	
	{% endfor %}
	</div>
		 
	
	
	
	
</div>
{% endblock %}