{% extends "home/header.html" %}
{% load staticfiles %}
<style type="text/css">
		.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
	</style>

{% block content %}


<div class="container">
<br>
<div class="well well-lg">
<legend>Perfil del usuario</legend>
<div class="row">
  <div class="col-md-4" align= "center">
		<img src="{% static 'home/img/profile.jpg' %}" class="img-circle" height="100" width="100" alt="Avatar">
  </div>
  <div class="col-md-8">
  
  <h3>Karina Zeledon
  <a href="#" data-toggle="modal" data-target="#editar"><button type="submit" class="btn btn-danger" ><span class="glyphicon glyphicon-pencil"></span></button></h3></a>
  <h4>kari@gmail.com</h4>
	
	<!--  Aca va el nombre y el apellido

<h3>{{ user.name }} {{user.lastname}}</h3>
	<h4>{{ user.email}}</h4>  -->
	
	
  
  </div>
</div>

<br>
<br>

<div class="col-md-4">
<div class="progress">
  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
    <span class="sr-only">80% Complete (danger)</span> 100 pts
  </div>
</div>
</div>
<br>
<br>



<div class="panel panel-primary">
<div class="panel-heading">
    <h3 class="panel-title">Publicaciones</h3>
  </div>
 
<!-- aqui se hace el for para encontrar las publicacione hechas por el usuario-->

<ul class="list-group">
<div id="list" style="height: auto;
    max-height: 220px;
    overflow-x: hidden;">
    <li class="list-group-item">
	<div class="row">
	<div class="col-md-8">Cras justo odio </div>
	 <div class="col-md-4" align= "right">
	 <button type="submit" class="btn btn-primary btn-sm" ><span class="glyphicon glyphicon-eye-open"></span></button>
	 <button type="submit" class="btn btn-info btn-sm" ><span class="glyphicon glyphicon-pencil"></span></button>
	 <button type="submit" class="btn btn-danger btn-sm" ><span class="glyphicon glyphicon-remove"></span></button>
	 </div>
	
	</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
	  <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
	
	
	</div>
 </ul>



	
</div>

<div class="modal fade" id="editar" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal">
        					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        				</button>
        				<h3 class="modal-title" id="modal-login-label">Editar</h3>
        				<p>Escriba la informacion que desea editar</p>
        			</div>
        			
        			<div class="modal-body">
        				
	                    <form role="form" action="" method="post" class="login-form">
						<div class="row">
						<div class="col-md-4" align= "center">
							<div class="form-group">
	                    		
					  
							<img src="{% static 'home/img/profile.jpg' %}" class="img-circle" height="100" width="100" alt="Avatar">
					 
								  <br>
								<div align="right">
								<button type="submit" class="btn btn-danger btn-sm" ><span class="glyphicon glyphicon-open-file"></span></button>
								  </div>
	                        </div>
							 </div>
							
							
							<div class="col-md-8">
	                    	<div class="form-group">
	                    		<label class="sr-only" for="form-username">Usuario</label>
	                        	<input type="text" name="form-username" placeholder="Usuario..." class="form-username form-control" id="form-username">
	                        </div>
	                        <div class="form-group">
	                        	<label class="sr-only" for="form-password">Apellido</label>
	                        	<input type="password" name="form-password" placeholder="Apellido..." class="form-password form-control" id="form-password">
	                        </div>
							<div class="form-group">
	                        	<label class="sr-only" for="form-password">Email</label>
	                        	<input type="password" name="form-password" placeholder="Email..." class="form-password form-control" id="form-password">
	                        </div>
							<div class="form-group">
	                        	<label class="sr-only" for="form-password">Contraseña</label>
	                        	<input type="password" name="form-password" placeholder="Contraseña..." class="form-password form-control" id="form-password">
	                        </div>
							
							 </div> </div>
							<div align="right">
	                        <button type="submit" class="btn btn-danger" ><span class="glyphicon glyphicon-pencil"></span></button>
							</div>
							
	                    </form>
	                    
        			</div>
        			
      </div>
      
    </div>
  </div>


{% endblock %}